.languages {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    
    svg {
        height: 30px;
    }
}

.language {
    background-color: #003A49;
    color: #8EE8FF;
    font-weight: 500;
    padding: 5px 15px;
    border-radius: 15px;
}

#projects {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.project {
    background-color: rgba(25, 25, 25, 0.5);
    border-radius: 15px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-bottom: 2.5%;
    width: 100%;
  }

  .project:hover {
    background-color: rgba(25, 25, 25, 0.7);
    box-shadow: #8EE8FF 0px 0px 10px;
    transition: background-color 0.3s ease;
    transition: box-shadow 0.3s ease;
  }

#title {
    font-size: 1.5em;
    font-weight: 500;
    color: #8EE8FF;
    margin: 0;
}

#date {
    font-size: medium;
    font-weight: bold;
    color: #D9D9D9;
}

.image-container {
    height: 250px;
    max-width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

  .image-container img {
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

#more-images {
    background-color: black;
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: 0.6;
    color: #8EE8FF;
    border-radius: 15px;
    padding: 5px 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    gap: 3px;
    transition: opacity 0.1s ease;
}

#more-images:hover {
    opacity: 0.7;
    cursor: pointer;
}

#description {
    white-space: pre-wrap;
}

#links {
    gap: 20px;
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}

#link {
    font-weight: 500;
    text-decoration: none;
    color: white;
    margin-bottom: 15px;
}

#link:hover {
    color: #8EE8FF;

    svg {
        stroke: #8EE8FF;
    }
}

#link svg {
    padding-right: 5px;
}

#languages-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: row;
}

@media (min-width: 768px) {
    #content {
        display: flex;
        align-items: start;
    }

    #link {
        margin-bottom: 0;
    }

    #description {
        margin-left: 2.5%;
        margin-right: 1%;
    }

    .image-container {
        min-width: 375px;
        max-width: 375px;
    }
 }

@media (max-width: 1024px) {
    #header {
        flex-direction: column;
    }

    #title {
        width: 100%;
    }

    #separator {
        display: none;
    }

    #languages-date {
        width: 100%;
    }
}

@media (max-width: 550px) { 
    #languages-date {
        margin: 10px 0;
        flex-direction: column;
        gap: 0; 
    }

    #title {
        width: auto;
    }
}

 @media (min-width: 1400px) {
    #description {
        margin-right: 10%;
    }
 }