#Header {
    /* background-color: #282c34; */
    padding-top: 2%;
    margin-bottom: 10%;
    padding-right: 1%;
    font-size: medium;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  #icons {
    display: flex;
    flex-direction: row;
    gap: 7.5%;
  
    :hover svg {
      fill: white;
      transition: fill 0.3s ease;
    }
  }

  #name {
    background-image: radial-gradient(#8EE8FF, #da70d6);
    color: transparent;
    background-clip: text;
    margin: 0;
  }

  #name:hover {
    color: #8EE8FF;
    transition: color 0.3s ease;
  }

  #name-link {
    text-decoration: none;
  }