.buttons {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2.8px solid black;
  }
  
  .buttons svg {
    margin: 5px 5px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    fill: black;
  }

  .tooltip {
    background-color: black;
    color: #fff;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    z-index: 1000;
  }
  
  .map-tooltip {
    position: absolute;
    pointer-events: none;
  }
  
  .button-tooltip {
    all: unset;
    position: relative;
    display: inline-block;
  }
  
  /* Focus ring for tabbing */
  .button-tooltip:focus-visible {
    outline: 2px solid black;
    border-radius: 5px;
  }
  
  .button-tooltip-text {
    visibility: hidden;
    position: absolute;
    top: 100%; /* Place below */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  .button-tooltip:hover .button-tooltip-text {
    visibility: visible;
    opacity: 1;
  }

  @media (max-width: 768px) { /* Target mobile devices */
    .map-tooltip, .tooltip-text {
      display: none;
    }
  }

  #footnote {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 10px;
    color: black;
    font-weight: 500;
    text-align: center;
  }
  
  .footnote-container {
    padding: 5px;
    background-color: white;
    border: 2.8px solid black;
  }
  
  .footnote-container p {
    margin: 0;
    margin-bottom: 5px;
  }
  
  .footnote-container a {
    color: black;
    text-decoration: underline;
    transition: color 0.3s ease, text-decoration 0.3s ease;
  }
  
  .footnote-container a:hover {
    color: #007BFF;
  }
  
  .footnote-container a:focus {
    outline: 2px solid #007BFF;
    border-radius: 5px;
  }

  .radius {
    border-radius: 7.5px;
  }

#lived {background-color: #FF7E7E;}
#stayed {background-color: #FFB57E;}
#visited {background-color: #FFE57E;}
#stopped {background-color: #A8FFBE;}
#passed {background-color: #88AEFF;}

#county-name {
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
  }
  
  #card-options {
    width: 100%;
  }
  
  #card-options p {
    margin: 0;
    padding: 10px 0;
    box-sizing: border-box;
    text-align: center;
    display: block;
    cursor: pointer;
  }

  .county-card {
    background-color: white;
    color: black;
    position: absolute;
    border: 2.8px solid black;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 225px;
  }