#modal {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-container {
  background-color: rgba(25, 25, 25, 1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#modal-image-container {
  flex-grow: 1;
  background-color: black;
  width: 90%;
  max-height: 80vh;
  display: flex;
  justify-content: center;
}

#modal-image-container img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.modal-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.modal-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  /* padding-top: 50px; */
  align-items: center;
  justify-self: start;
}

#navigation {
  display: flex;
  flex-direction: row;
  align-self: start;
  margin-left: auto;
  margin-bottom: 15px;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
}

#navigation-buttons {
  display: flex;
  gap: 15px;
}

.navigation-button {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  padding: 5px;
}

.navigation-button:hover {
  background-color: rgb(37, 36, 36);
  transition: background-color 0.2s ease;
  cursor: pointer;
}

#image-count {
  display: flex;
  align-self: end;
  margin-right: 10px;
}

#modal-header {
  font-size: 12px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin: 0px 10px;
}

#exit {
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

@media (min-width: 768px) {
  #navigation {
    flex-direction: column;
  }

  .modal-content {
    flex-direction: row;
    padding-top: 0;
  }

  #modal-image-container {
    width: 80%;
  }

  #modal-header {
    font-size: 15px;
    margin: 0px 10px 10px 10px;
  }

  #modal-container {
    border-radius: 15px;
    height: 75%;
    width: 80%;
    max-width: 1500px;
    max-height: 1000px;
  }
}
