#App {
  background-color: black;
  min-height: 100vh;
  color: white;
}

#Header {
  font-size: medium;
  padding-left: 2.5%;
  padding-right: 2.5%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

#body {
  padding-left: 7.5%;
  padding-right: 7.5%;
  padding-top: 7.5%;
}

.project {
  word-break: break-all;
}

#date {
  font-size: small;
}

.image-container {
  width: 375px;
  height: 250px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.image-container img {
  height: 100%;
  object-fit: cover;
  
}

.project img {
  /* height: auto;
  max-width: 300px;
  border-radius: 15px;
  background-color: white;
  padding-left: 10%;
  padding-right: 10%; */
}

a {
  color: white;
  text-decoration: none;
}

#projectList {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}

#icons {
  display: flex;
  flex-direction: row;
}

#icon-padding {
  padding: 7.5%;
}