.App {
  /* text-align: center; */
  background-color: black;
  min-height: 100vh;
}

.header {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Intro {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.body {
  color: white;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 150px;
}

.project {
}