.languages {
    margin-top: 10px;
    margin-bottom: 10px;
}

.language {
    background-color: #d6f2b3;
    color: black;
    padding: 5px 15px;
    margin-right: 5px;
    border-radius: 10px;
}

#projects {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.project {
    background-color: #111;
    border-radius: 15px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-bottom: 2.5%;
    width: 100%;
  }
  
#date {
    font-size: small;
}

.image-container {
    height: 250px;
    max-width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
}
  
  .image-container img {
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}
  
  .image-container img:hover {
    transform: scale(1.1);
}

#description {
    white-space: pre-wrap;
}

@media (min-width: 768px) {
    #image-description {
        display: flex;
        align-items: start;
    }

    .languages {
        margin-top: 20px;
    }

    #title-date {
        justify-content: space-between;
        display: flex;
        align-items: center;       
    }

    #description {
        margin-left: 2.5%;
    }

    .image-container {
        min-width: 375px;
    }
 }

@media (min-width: 1024px) {
    .project {
        width: 80%;
    }
}