.languages {
    margin-top: 10px;
    margin-bottom: 10px;
}

.language {
    background-color: #003A49;
    color: #8EE8FF;
    font-weight: 500;
    padding: 5px 15px;
    margin-right: 5px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#projects {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.project {
    background-color: rgba(25, 25, 25, 0.5);
    border-radius: 15px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-bottom: 2.5%;
    width: 100%;
  }

#title {
    font-size: 1.5em;
    font-weight: 500;
    color: #8EE8FF;
}
  
#date {
    font-size: small;
    color: #D9D9D9;
}

.image-container {
    height: 250px;
    max-width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
}
  
  .image-container img {
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}
  
  .image-container img:hover {
    transform: scale(1.1);
}

.content {
    white-space: pre-wrap;
    margin-right: 15%;
}

#description {
    font-weight:500;
    padding-top: 2.5%;
}

#description-body {
    color: #D9D9D9;
}

#code-design {
    justify-self: end;
    display: flex;
    gap: 20px;
}

#code-design a {
    font-weight: 500;
    text-decoration: none;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
}

#code-design a:hover {
    color: #8EE8FF;
}

@media (min-width: 768px) {
    #image-description {
        display: flex;
        align-items: start;
    }

    .languages {
        margin-top: 20px;
    }

    #description {
        padding-top: 0;
    }

    #title-date {
        justify-content: space-between;
        display: flex;
        align-items: center;       
    }

    .content {
        margin-left: 2.5%;
    }

    .image-container {
        min-width: 375px;
    }
 }