/* Home Page */
#Home {
  background-color: black;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0) 0%,
    rgba(7, 4, 47, 0.5) 100%
  );
}

#Content {
  justify-self: center;
  min-height: 100vh;
  max-width: 1500px;
  width: 100%;
}

@media (max-width: 1600px) {
  #Content {
    width: 80%;
  }
}

@media (max-width: 800px) {
  #Content {
    width: 90%;
  }
}

/* Not Found Page */
#not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#not-found-image {
  margin-top: 20px;
  border-radius: 5px;
}
